nav {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90vw;
  justify-content: space-around;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: end;
}