*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

header {
  padding-block: 1rem;

  a {
    text-decoration: none;
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;

    span {
      display: block;
    }

    img {
      border-radius: 50%;
    }
  }
}

footer {
  margin-block-start: 2rem;
  background-color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-block: 1.5rem;
  border-top: 1px solid gray;
}

dialog {
  border: 1px solid rgb(68, 39, 39);
  border-radius: 4px;
  ;
  z-index: 1;
  width: 90%;
  margin: auto;

  img {
    width: 100%;
  }

  h3,
  h4 {
    text-align: center;
    margin-block: 1.1rem;
  }

  .modal-close {
    float: right;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .modal-close:hover {
    color: brown;
  }

  form {
    text-align: center;

    .form-group {
      width: 100%;
      margin-block-end: 2rem;

      input {
        width: 100%;
        padding-block: 0.4rem;
      }

      textarea {
        width: 100%;
      }
    }

    button {
      padding: 0.5rem 6rem;
    }
  }

  @media screen and (width > 617px) {
    width: 70%;
  }

  @media screen and (width > 954px) {
    width: 50%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-end: 4rem;

  .card {
    margin-block: 1rem;

    .card-image {
      width: 200px;
      height: 200px;
    }

    .card-body {
      padding-block: 0.5rem;
      display: flex;
      justify-content: space-between;

      .card-likes {
        cursor: pointer;

        :hover {
          font-size: 1.1rem;
          color: red;
        }
      }
    }

    .card-footer {
      text-align: center;

      button {
        width: 100%;
        padding: 0.3rem;
        cursor: pointer;
      }
    }
  }

  @media screen and (width > 530px) {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }

  @media screen and (width > 917px) {
    padding-inline: 20%;
  }
}